<div id="mc_embed_popup">
 <div class="vcenter">
  <div class="container">
    <form action="http://xxxxxx.list-manage.com/subscribe/post?u=xxxxxx&amp;id=xxx" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="mc-field-group clearfix">
        <input type="email" value="" name="EMAIL" class="required email" data-bvalidator="required,email" id="mce-EMAIL" placeholder="you@youremail.com">
        <input type="image" src="{{ 'signup-submit.png' | asset_url }}" alt="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      </div>
      <a href="#" id="mc_embed_close" class="mc_embed_close">Close</a>
      <div id="mce-responses" class="clearfix">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </form>
  </div>
 </div>
</div>